{{search-box value=""}}

<div class="row">
    {{#each model as |user index|}}
    {{#if (lt index 8)}}
    <div class="col-sm-3">
        <div class="item">
            <div class="avatar">
                <img src="{{user.avatar_url}}">
            </div>
            {{#link-to 'user' user.login}}<span class="text1">{{user.login}}</span>{{/link-to}}
            <span class="text2">{{user.type}}</span>
            <div class="btnbox">
                <button type="button" class="btn btn-primary space" {{action "shortlist" user}}>Add</button>                
                <button type="button" class="btn">Cancel</button>
            </div>            
        </div>        
    </div>  
    {{/if}}  
    {{/each}}    
</div>

<div class="row shortlist">    
    <div class="shead">Shortlisted</div>
    {{#each-in shortList as |key value|}}     
    <div class="col-sm-3">
        <div class="item">
            <div class="avatar">
                <img src="{{value.imagrUrl}}">
            </div>
            {{#link-to 'user' value.loginId}}<span class="text1">{{value.loginId}}</span>{{/link-to}}
            <span class="text2">{{value.userType}}</span>
            <div class="btnbox">                
                <button type="button" class="btn" {{action "removeFromList" value.loginId}}>Remove</button>
            </div>            
        </div>        
    </div> 
    {{/each-in}}
</div>